// LEFT NAVBAR

.hud {
  color: #3C4E5A;
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0px;
  bottom: 0px;
  width: 300px;
  background: #F8F8F8;
  border-right: 2px solid #DDD;
  transition: left 300ms;
  -moz-transition: left 300ms;
  -webkit-transition: left 300ms;
  @include box-sizing(border-box);
  .tab-content {
    position: absolute;
    top: 105px;
    left: 0;
    right: 0;
    bottom: 50px;
    overflow-y: auto;
  }
}

// LEFT NAVBAR - SAVE AND SHARE

.map-controls {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

// LEFT NAVBAR - TABS
#hud-tab {
  li {
    margin-left: 0;
    width: 149px;
    a {
      border-right: none;
      border-left: 1px solid #ddd;
      border-top: 1px solid #ddd;
      @include border-radius(0px);
      margin-right: 0;
      text-align: center;
      @include unstyled-link;
    }
    &:first-child {
      a {
        border-left: none;
      }
    }
  }
}

// LEFT NAVBAR - CONTROLS

#ctrls {
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #E6E6E6;
  z-index: 50;
  .m-btn {
    margin-top: 0;
    padding: 14px 24px;
    &:last-child {
      padding: 14px 20px;
    }
  }
}

// LEFT NAVBAR - TABS - LAYERS

#layers {
  label {
    margin-bottom: 2px;
  }
  .layer-visibility {
    margin-top: -1px;
    margin-right: 5px;
  }
  .grippy {
    display: inline-block;
    background: url("grippy.png") repeat-y right;
    height: 45px;
    width: 10px;
    vertical-align: top;
    margin-right: 15px;
    cursor: move;
  }
  .right-infos {
    display: inline-block;
    width: 250px;
    .title {
      @include ellipsis;
    }
  }
  .control-buttons {
    margin-left: 21px;
    a:hover {
      background: none;
    }
  }
  .dimensions-list {
    @include column-count(3);
    li.active {
      font-weight: bold;
      font-size: 13px;
    }
  }
  .opacity-controler {
    margin-left: 20px;
    margin-top: 5px;
    width: 172px;
    i {
      float: left;
      cursor: pointer;
      margin-top: -2px;
    }
    .icon-plus {
      margin-left: 2px;
    }
  }
}

#layer-list {
  padding: {
    left: 0;
    right: 0;
  }
  > li {
    padding: {
      top: 5px;
      bottom: 5px;
      left: 2px;
    }
    border-bottom: 1px solid #eee;
    &.sortable-placeholder {
      border: 1px dashed #CCC;
      background: none;
      height: 45px;
    }
  }
}

//  LEFT NAVBAR - TABS - LAYERS - ADD BUTTON

.add-layer {
  background: white;
  height: 38px;
  padding: 0 15px;
  span {
    line-height: 35px;
  }
  .layer-button {
    padding: 5px 10px;
    height: 20px;
    background: #B4C2CC;
    @include border-radius(3px);
    [class^="icon-"] {
      margin-top: 2px;
    }
    .icon-layer {
      background-position: bottom;
      margin-top: 4px;
    }
    &:hover {
      background: #3C4E5A;
    }
  }
}

// CATALOG

#catalog {
  padding-bottom: 30px;
  background: white;
  position: fixed;
  bottom: 0px;
  left: 300px;
  right: 0px;
  top: 50px;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: opacity .35s, z-index .35s;
  -moz-transition: opacity .35s, z-index .35s;
  -webkit-transition: opacity .35s, z-index .35s;
  &.active {
    visibility: visible;
    z-index: 1100;
    background: rgba(248, 248, 248, .85);
    opacity: 1;
  }
  .close {
    margin: 20px;
    position: fixed;
    top: 69px;
    right: 10px;
  }
  h3 {
    margin-left: 75px;
    float: left;
  }
  .layers-search {
    margin-top: 13px;
    margin-right: 70px;
  }
  .media {
    background: white;
    cursor: pointer;
    border: 1px solid #EEE;
    @include not-selectable;
    h4 {
      cursor: pointer;
      font-weight: 500;
      color: #3C4E5A;
      [class^="icon-"] {
        margin: 4px 0 3px;
      }
    }
    .media-wrapper {
      padding: 5px;
      overflow: hidden;
      zoom: 1;
    }
    .added {
      @include box-shadow(inset 0 1px 6px rgba(0, 0, 0, 0.25));
      @include background-image(linear-gradient(top, #EEE, #DDD));
    }
  }
}

// CATALOG - CATEGORIES

#categories {
  // margin: {
  //   right: 50px;
  //   left: 50px;
  // }
  .back {
    margin-bottom: 10px;
    margin-top: 0;
    @include not-selectable;
  }
  a.category {
    width: 100%;
    display: block;
    background-color: white;
    @include border-radius(5px);
    margin-bottom: 5px;
    height: 20px;
    padding: 5px;
  }
}

.media.layer {
  float: left;
  width: 48%;
  margin-left: 1%;
  margin-top: 15px;
  .description {
    @include ellipsis;
  }
}
