@import "footer";
@import "forms";
@import "modals";
@import "tables";
@import "menus";
@import "layouts";
@import "buttons";

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}