@import "mixins";
@import "map";
@import "navbar";
@import "footer";
@import "forms";
@import "modals";
@import "tables";
@import "menus";
@import "layouts";
@import "buttons";
@import "icons";

.close {
  @include opacity(50);
  &:hover {
    @include opacity(70);
  }
}

.pagination {
  li {
    &:first-child, &:last-child {
      a, span {
        @include border-radius(0);
      }
    }
    &.current {
      a {
        color: #777;
        font-weight: bold;
        -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.25);
           -moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.25);
                box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
