.table-backend {
  td {
    vertical-align: middle;
    &.default {
      color: #666;
      font-style: italic;
    }
    .m-btn-group {
      margin-right: 20px;
    }
    .m-btn {
      margin-top: 0;
    }
  }
  &.categories-index {
    span.left-space {
      padding: 0 10px;
    }
  }
}
