.table-backend {
  td {
    vertical-align: middle;
    &.default {
      color: #666;
      font-style: italic;
    }
    .m-btn-group {
      margin-right: 20px;
    }
    .m-btn {
      margin-top: 0;
    }
  }
  &.categories-index {
    span.left-space {
      padding: 0 17px;
    }
  }
}

.table-import {
  h3 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 25px;
  }
  small {
    color: #888;
  }
  .infos {
    margin-top: 10px;
  }
  .import {
    vertical-align: middle;
  }
}