@import "compass";
@import "_blueprint";
@import "bootstrap_and_overrides";

@import "vendor";
@import "components/footer";
@import "components/forms";
@import "components/tables";

html, body {
  height: 100%;
}

.navbar {
  .container {
    width: 1000px;
  }
  .nav {
    > li > a {
      color: #868686;
      &:hover, &:focus {
        color: #E6E6E6;
      }
    }
  }
  margin-bottom: 0px;
}

.navbar-inner {
  background: #222222;
}

.main-container {
  width: 1000px;
  padding: 20px;
  background: white;
}