body.fullscreen {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  max-width: none;
  margin: 0px auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0 20px 10px;
}

.wrapper {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transition: top 100ms;
  -webkit-transition: top 100ms;
  @include box-sizing(border-box);
  padding-bottom: 0px;
}

#map {
  background: white;
  position: absolute;
  top: 0px;
  left: 33.3333333%;
  right: 0px;
  bottom: 0px;
  width: auto;
  height: auto;
  @include box-sizing(border-box);
  transition: left 200ms;
  -webkit-transition: left 200ms;
}

.hud {
  z-index: 1000;
  position: absolute;
  left: 0%;
  top: 0px;
  bottom: 0px;
  width: 33.3333%;
  background: #F8F8F8;
  border-right: 1px solid #DDD;
  transition: left 200ms;
  -moz-transition: left 200ms;
  -webkit-transition: left 200ms;
  @include box-sizing(border-box);
  li {
    position: relative;
  }
  li.nav-header {
    height: 30px;
  }
  .layer-list {
    a {
      @include unstyled-link;
    }
  }
}

.add-layer {
  position: absolute;
  right: 10px;
  top: 10px;
  .layer-button {
    padding: 5px 10px;
    height: 20px;
    background: #B4C2CC;
    @include border-radius(3px);
    .icon-layer {
      background: url("layers.png") no-repeat;
      width: 12px;
      height: 10px;
      margin-top: 3px;
      background-position: bottom;
    }
    &:hover {
      background: #3C4E5A;
    }
  }
}

.leaflet-top, .leaflet-bottom {
  z-index: 800;
}

.catalog {
  background: white;
  position: fixed;
  bottom: 0px;
  left: 33.3333%;
  right: 0px;
  top: 40px;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: opacity .35s, z-index .35s;
  -moz-transition: opacity .35s, z-index .35s;
  -webkit-transition: opacity .35s, z-index .35s;
  &.active {
    visibility: visible;
    z-index: 1100;
    opacity: 1;
  }
  .close {
    margin: 20px;
  }
  h3 {
    margin-left: 20px;
  }
}

.navbar .nav > li {
  & > .share {
    margin: 10px 0 0 6px;
    padding: 3px 8px;
    background-color: #131723;
    @include border-radius(10px);
    font: bold 11px Arial;
    &:hover {
      background-color: white;
      color: #131313;
    }
  }
}