body.fullscreen {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  max-width: none;
  margin: 0px auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0 20px 10px;
}

.wrapper {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transition: top 100ms;
  -webkit-transition: top 100ms;
  @include box-sizing(border-box);
  padding-bottom: 0px;
}

#map {
  background: white;
  position: absolute;
  top: 0px;
  left: 25%;
  right: 0px;
  bottom: 0px;
  width: auto;
  height: auto;
  @include box-sizing(border-box);
  transition: left 300ms;
  -webkit-transition: left 300ms;
  -moz-transition: left 300ms;
}

.hud {
  min-width: 350px;
  z-index: 1000;
  position: absolute;
  left: 0%;
  top: 0px;
  bottom: 0px;
  width: 25%;
  background: #F8F8F8;
  border-right: 1px solid #DDD;
  transition: left 300ms;
  -moz-transition: left 300ms;
  -webkit-transition: left 300ms;
  @include box-sizing(border-box);
  li {
    position: relative;
  }
  li.nav-header {
    height: 40px;
  }
  .layer-list {
    a {
      @include unstyled-link;
    }
  }
  .map-controls {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .nav-tabs {
    li {
      margin-left: 0;
      width: 33.3333333333%;
      a {
        border-right: 1px solid #ddd;
        border-top: 1px solid #ddd;
        @include border-radius(0px);
        margin-right: 0;
        text-align: center;
        @include unstyled-link;
      }
    }
  }
  .tab-content {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
  }
  #infos {
    form {
      margin: 20px 10px;
    }
    label {
      width: auto;
    }
    .controls {
      margin-left: 100px;
    }
    .from-map {
      margin-left: 110px;
    }
  }
  #layers {
    .control-buttons {
      a {
        cursor: pointer;
      }
    }
  }
}

.add-layer {
  position: absolute;
  right: 10px;
  top: 10px;
  .layer-button {
    padding: 5px 10px;
    height: 20px;
    background: #B4C2CC;
    @include border-radius(3px);
    [class^="icon-"] {
      margin-top: 2px;
    }
    .icon-layer {
      background-position: bottom;
      margin-top: 4px;
    }
    &:hover {
      background: #3C4E5A;
    }
  }
}

.icon-layer {
  background: url("layers.png") no-repeat;
  width: 12px;
  height: 10px;
  margin-top: 3px;
  background-position: bottom;
  &:hover {
    background-position: top;
  }
}

.leaflet-top, .leaflet-bottom {
  z-index: 800;
}

#catalog {
  background: white;
  position: fixed;
  bottom: 0px;
  left: 25%;
  right: 0px;
  top: 50px;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: opacity .35s, z-index .35s;
  -moz-transition: opacity .35s, z-index .35s;
  -webkit-transition: opacity .35s, z-index .35s;
  &.active {
    visibility: visible;
    z-index: 1100;
    background: rgba(248, 248, 248, .85);
    opacity: 1;
  }
  .close {
    margin: 20px;
  }
  h3 {
    margin-left: 20px;
  }
  .catalog-layer {
    h4 {
      word-wrap: break-word;
    }
  }
  .thumbnails {
    margin-left: 20px;
  }
  .thumbnail {
    background-color: white;
  }
}
.navbar-inner {
  min-height: 50px;
}

.leaflet-bottom.leaflet-left {
  right: 0;
  z-index: 999;
  .features-infos {
    max-height: 150px;
    overflow: scroll;
    width: 100%;
    height: auto;
    display: none;
    background: white;
    margin-left: 0;
    margin-bottom: 0;
    border-top: 1px solid #E6E6E6;
  }
}